@import url('https://fonts.googleapis.com/css?family=Poppins:%20200,300,400,500,600,700,800,90&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*********************** HEADER *****************/

header.stick{
    background: #fff; 
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 90px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo{
    color: #fff; 
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.stick .logo{
    color: whitesmoke;
}


header .logo:hover{
    color: #407BFF;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: whitesmoke;
    text-decoration: none;
}

header.stick ul li a{
    color: whitesmoke;
}

/*************************SECTION ********************/

section{
    padding: 100px;
}

.banner
{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2{
    font-size: 3em;
    color: black;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}

@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(15px)}}

.btn{
    animation: slide-bottom 2s ease-in-out infinite alternate 0.5s both;
    position: relative;
    background: #407BFF; 
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    transition-duration: 1s;
    border-radius: 10px;
}

.textBx .btn:hover{
    background: #407BFF;
}


@media (max-width: 2560px) {
    .overlay .sci li a{
        padding: 190%;
    }
}

@media (max-width: 1440px) {
    .overlay .sci li a{
        padding: 15%;
    }
}

@media (max-width: 1024px) {
    .overlay .sci li a{
        font-size: 20px;
        margin-left: -50%;
    }
    #em-breve{
        font-size: 0.6em;
    }
}

@media (max-width:991px)
{
    header,
    header.stick
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active
    {
        left: 0;
    }
    /*Mudar de cor*/
    header ul li a 
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(../pics/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active
    {
        background: url(../pics/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.stick .toggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .curriculo{
        padding: 10px auto;
        width: 100%;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 22px;
    }
    .contentBx h3{
        font-size: 18px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
        margin: auto;
    }
    .tecnologias .content .tecnologiasBx{
        max-width: 390px;
        padding: 10px;
    }
    .projetos .content .projetosBx img {
        max-width: 350%;
        padding: 10px;
    }
    .projetosBx:hover .overlay{
        padding: 100px 400px;/*400px;*/
    }
    

}

.container {
    color: black;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 768px) {
    img {
        max-width: 80%;
    }
}

.active {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: white;
}

li {
    margin-left: 5px;
}

li:hover {
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.item {
    text-align: center;
}

.desc {
    text-align: left;
}

p {
    margin-top: 8px;
}

.logo:hover{
    color: white !important;
}

.logo{
    width: 75px;
    margin-bottom: -20px;
    margin-top: -10px;
}

header{
    background-color: #407BFF !important;
}


footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    color: white;
    text-align: center;
}